<HTML>
	<HEAD>
	<TITLE>Servidor <%=@idServer%></TITLE>
	</HEAD>
<BODY>
<H1>Servidor <%=@idServer%></H1>
<H2>La base de datos tiene la siguiente información:</H2>

	<?php
	$con = mysql_connect("<%=@ip_web%>","<%=@usuarioweb_web%>","<%=@passwordweb_web%>");
	if (!$con)
	  {
	  die('Could not connect: ' . mysql_error());
	  }

	mysql_select_db("database1", $con);

	$result = mysql_query("SELECT * FROM example");

	while($row = mysql_fetch_array($result))
	  {
	  echo $row['name'] . " " . $row['age'];
	  echo "<br />";
	  }

	mysql_close($con);
	?>
</BODY>
</HTML>
